DerivedData/ModuleCache/38C2GN7XWGGLQ/AppKit-3HEDP5POPT3GL.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/AppKit-3HEDP5POPT3GL.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/ApplicationServices-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/ApplicationServices-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CFNetwork-NGPN0VC56SW9.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CFNetwork-NGPN0VC56SW9.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Cocoa-2N7NBJZPK8M7C.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Cocoa-2N7NBJZPK8M7C.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreData-3603B4AKZ2FYA.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreData-3603B4AKZ2FYA.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreFoundation-4BSLNJP14EWX.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreFoundation-4BSLNJP14EWX.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreGraphics-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreGraphics-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreImage-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreImage-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreServices-XNS6JS0B7YYH.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreServices-XNS6JS0B7YYH.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreText-37J6P7UM4KH3T.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreText-37J6P7UM4KH3T.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreVideo-3O8VO6RBKJ0VA.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/CoreVideo-3O8VO6RBKJ0VA.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Darwin-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Darwin-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/DiskArbitration-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/DiskArbitration-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Dispatch-2TPJNGYTPDO0C.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Dispatch-2TPJNGYTPDO0C.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Foundation-2CTFJ5JSTTWH8.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Foundation-2CTFJ5JSTTWH8.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/IOKit-UNAX5P8O8FCV.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/IOKit-UNAX5P8O8FCV.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/IOSurface-2KP5DZH5Q4I5S.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/IOSurface-2KP5DZH5Q4I5S.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/ImageIO-1B02T7066I7IU.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/ImageIO-1B02T7066I7IU.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/MachO-EORRMPJZ4KAI.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/MachO-EORRMPJZ4KAI.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Metal-8ZBFX3Y2P1NF.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Metal-8ZBFX3Y2P1NF.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/ObjectiveC-1TFDRSFUC6FAZ.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/ObjectiveC-1TFDRSFUC6FAZ.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/OpenGL-O0XD6834QGC.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/OpenGL-O0XD6834QGC.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/QuartzCore-2CA4B7YNYVAPE.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/QuartzCore-2CA4B7YNYVAPE.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/Security-3S2AY22IF9HTN.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/Security-3S2AY22IF9HTN.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/XCTest-1ZEZBCWAVH2US.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/XPC-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/XPC-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/_Builtin_intrinsics-3THUADSWZCFMC.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/_Builtin_intrinsics-3THUADSWZCFMC.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/libkern-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/libkern-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/38C2GN7XWGGLQ/modules.idx
DerivedData/ModuleCache/38C2GN7XWGGLQ/os-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/38C2GN7XWGGLQ/os-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/Session.modulevalidation
DerivedData/ModuleCache/UMVKQJ1ALI0X/AppKit-3HEDP5POPT3GL.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/AppKit-3HEDP5POPT3GL.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/ApplicationServices-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/ApplicationServices-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CFNetwork-NGPN0VC56SW9.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CFNetwork-NGPN0VC56SW9.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Cocoa-2N7NBJZPK8M7C.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Cocoa-2N7NBJZPK8M7C.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreData-3603B4AKZ2FYA.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreData-3603B4AKZ2FYA.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreFoundation-4BSLNJP14EWX.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreFoundation-4BSLNJP14EWX.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreGraphics-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreGraphics-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreImage-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreImage-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreServices-XNS6JS0B7YYH.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreServices-XNS6JS0B7YYH.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreText-37J6P7UM4KH3T.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreText-37J6P7UM4KH3T.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreVideo-3O8VO6RBKJ0VA.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/CoreVideo-3O8VO6RBKJ0VA.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Darwin-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Darwin-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/DiskArbitration-AZNIOBOHZJLJ.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/DiskArbitration-AZNIOBOHZJLJ.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Dispatch-2TPJNGYTPDO0C.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Dispatch-2TPJNGYTPDO0C.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Foundation-2CTFJ5JSTTWH8.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Foundation-2CTFJ5JSTTWH8.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/IOKit-UNAX5P8O8FCV.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/IOKit-UNAX5P8O8FCV.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/IOSurface-2KP5DZH5Q4I5S.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/IOSurface-2KP5DZH5Q4I5S.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/ImageIO-1B02T7066I7IU.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/ImageIO-1B02T7066I7IU.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/MachO-EORRMPJZ4KAI.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/MachO-EORRMPJZ4KAI.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Metal-8ZBFX3Y2P1NF.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Metal-8ZBFX3Y2P1NF.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/ObjectiveC-1TFDRSFUC6FAZ.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/ObjectiveC-1TFDRSFUC6FAZ.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/OpenGL-O0XD6834QGC.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/OpenGL-O0XD6834QGC.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/QuartzCore-2CA4B7YNYVAPE.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/QuartzCore-2CA4B7YNYVAPE.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/Security-3S2AY22IF9HTN.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/Security-3S2AY22IF9HTN.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/XPC-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/XPC-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/_Builtin_intrinsics-3THUADSWZCFMC.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/_Builtin_intrinsics-3THUADSWZCFMC.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/libkern-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/libkern-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/UMVKQJ1ALI0X/modules.idx
DerivedData/ModuleCache/UMVKQJ1ALI0X/os-2RBSY9YGADCKO.pcm
DerivedData/ModuleCache/UMVKQJ1ALI0X/os-2RBSY9YGADCKO.pcm.timestamp
DerivedData/ModuleCache/modules.timestamp
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/MainMenu-PartialInfo.plist
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/AppDelegate.d
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/AppDelegate.dia
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/AppDelegate.o
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/SpaceJumper.LinkFileList
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/SpaceJumper_dependency_info.dat
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/main.d
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/main.dia
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/Objects-normal/x86_64/main.o
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper-all-non-framework-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper-all-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper-generated-files.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper-own-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper-project-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/SpaceJumper.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/assetcatalog_dependencies
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/assetcatalog_generated_info.plist
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumper.build/dgph
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/Objects-normal/x86_64/SpaceJumperTests.LinkFileList
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests-all-non-framework-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests-all-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests-generated-files.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests-own-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests-project-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/SpaceJumperTests.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperTests.build/dgph
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/Objects-normal/x86_64/SpaceJumperUITests.LinkFileList
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests-all-non-framework-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests-all-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests-generated-files.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests-own-target-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests-project-headers.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/SpaceJumperUITests.hmap
DerivedData/SpaceJumper/Build/Intermediates/SpaceJumper.build/Debug/SpaceJumperUITests.build/dgph
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/Info.plist
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/MacOS/SpaceJumper
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/PkgInfo
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/Resources/Assets.car
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/Resources/Base.lproj/MainMenu.nib
DerivedData/SpaceJumper/Build/Products/Debug/SpaceJumper.app/Contents/_CodeSignature/CodeResources
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-cmp
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-dir
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-file
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-moduleurl
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-res
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64/SpaceJumper.xcindex/db.xcindexdb.strings-sym
DerivedData/SpaceJumper/Logs/Build/06F01AA2-86AE-48FC-913A-D869CD14E44E.xcactivitylog
DerivedData/SpaceJumper/Logs/Build/78ABA07E-4833-499A-BEA9-61EEEBD49596.xcactivitylog
DerivedData/SpaceJumper/Logs/Build/9543E4B8-6385-4BF6-B348-D906B2495BB4.xcactivitylog
DerivedData/SpaceJumper/Logs/Build/Cache.db
DerivedData/SpaceJumper/Logs/Debug/1D90BD6B-C3B9-49DC-BD05-6AAD3ED870C9.xcactivitylog
DerivedData/SpaceJumper/Logs/Debug/3D056DC0-AC61-413B-8674-76B664DFC6A8.xcactivitylog
DerivedData/SpaceJumper/Logs/Debug/B9D3FEF4-1476-4EFB-B160-945421B71340.xcactivitylog
DerivedData/SpaceJumper/Logs/Debug/Cache.db
DerivedData/SpaceJumper/Logs/Issues/Cache.db
DerivedData/SpaceJumper/Logs/Issues/DB0E723A-D57E-4E37-B2AE-5476A5A33099.xcactivitylog
DerivedData/SpaceJumper/TextIndex/text-filter.idx
SpaceJumper.xcodeproj/xcuserdata/sheltonhan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb-shm
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb-wal
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-cmp
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-dir
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-file
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-moduleurl
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-res
DerivedData/SpaceJumper/Index/Debug/macosx10.11-x86_64h/SpaceJumper.xcindex/db.xcindexdb.strings-sym